<form (ngSubmit)="cadastrarAluno(aluno)">
  <div>
  <label htmlFor="nome_input">Nome</label>
  <input name="nome" required [(ngModel)]="aluno.nome" id="nome_input" />
</div>

<div>
  <label htmlFor="cpf_input">CPF</label>
  <input name="cpf" required [(ngModel)]="aluno.cpf" id="cpf_input" />
</div>

<div>
  <label htmlFor="email_input">E-mail</label>
  <input name="email" required [(ngModel)]="aluno.email" id="email_input" />
</div>

<button type="submit">Cadastrar</button>
</form>

<p role="alert" name="errorMessage" *ngIf="errorMessage">{{errorMessage}}</p>

<table>
  <tr *ngIf="alunos.length > 0">
    <th>Nome</th>
    <th>CPF</th>
    <th>e-mail</th>
  </tr>
  <tr *ngFor="let a of alunos" name="alunolist">
    <div *ngIf="(a.cpf  !== cpfAluno); then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <td name="nomelist">{{ a.nome }}</td>
      <td name="cpflist">{{ a.cpf }}</td>
      <td name="email">{{ a.email }}</td>
      <button type="submit" (click) = "editarAluno(a)" >Editar</button>
    </ng-template>
    <ng-template #elseBlock>
      <td name="nomelist"><input name = "newNome"required [(ngModel)]="a.nome" id="new_nome_input" value="a.nome"></td>
      <td name="cpflist"><input name = "newCpf"required  id="new_cpf_input" value="{{a.cpf}}"></td>
      <td name="email"><input name = "newEmail"required [(ngModel)]="a.email" id="new_email_input" value="a.email"></td>
      <button type="submit" (click) = "atualizarAluno(a)" >Atualizar</button>
    </ng-template>
  </tr>
</table>
